/**
 * Wrap video `iframe` with the `responsive-video-frame` class to ensure it works
 * You can edit within the proper scope the `padding-bottom` to fix the video
 * regarding aspect ratio and possible black margins (ex. Youtube videos)
 * You can also use it on non-iframe elements by attaching the `.iframe` class
 */

.responsive-video-iframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe,
  .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}