/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

$color_list: (
  "black": #000,
  "white": #fff,
  "chalk": #efefef,
  "lightblue": #d7efff,
  "blue": #4596da,
  "darkblue": #12478e,
  "red": #eb123e,
  "orange": #ff9000,
  "lightgreen": #dcffe0,
  "green": #458e4d,
  "lightyellow": #feffc1,
  "yellow": #ff0,
  "purple": #5d0e5d,
  "bordeaux": #730000,
  "gold": #cc8f3f,
  "lightgray": #f5f5f5,
  "gray": #ccc,
  "darkgray": #555
);

$DefaultColor: get_color("black");
$InverseColor: get_color("white");

/**
 * `$font-size-project` no units so `pixel-rem` mixin handles it.
 * See some examples on `_general-styles`
 */

$font-size-project: 20;

$img-route: "/assets/images/";