<section class="page--home">

    <div swiper-slider class="full-size-slider swiper-container" parameters="{
                'direction': 'vertical',
                'keyboardControl': true
            }">
        <div class="swiper-wrapper">

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="main__title">CSS Components and Good Practices</h2>
                        <hr>
                        <p class="third__title">When coding becomes assembling</p>
                    </div>
                </div>
                <div class="avatar" title="DD"></div>
            </article>

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="main__title text-center">Glossary</h2>
                        <hr>
                        <dl class="notes">
                            <dt class="third__title">CSS Components</dt>
                            <dd class="note">
                                <b>Introduction:</b> Design and Semantic: how to keep them together without messing each-other
                            </dd>
                            <dd class="note">
                                Sass variables
                            </dd>
                            <dd class="note">
                                Helpers for generic tasks (DRY)
                            </dd>
                            <dd class="note">
                                Massive refactor using <code>@each</code>
                                <ul>
                                    <li>Ton of color selectors</li>
                                    <li>Reformatting bootstrap's grid</li>
                                </ul>
                            </dd>
                            <dd class="note">
                                <b>Bonus track:</b> The imposible becomes possible: vertical alignment for static elements
                            </dd>
                        </dl>
                        <dl class="notes">
                            <dt class="third__title">Good Practices</dt>
                            <dd class="note">
                                Images as <code>&lt;img&gt;</code> only when is required
                            </dd>
                            <dd class="note">
                                Pseudo elements <code>:before</code> and <code>:after</code>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">CSS Components</h2>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="third__title text-center text__darkgray">
                            Have you ever started a project saying
                            <strong class="main__title text__black">
                                "Not this time... this time the CSS will be very well structured"
                            </strong>
                            and a week after it became a
                            <strong class="main__title text__black">big mess?</strong>
                            ...
                        </h2>
                        <hr class="border__blue">
                        <h3 class="third__title text-right">... it happened to me plenty of times</h3>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">
                            Thanks to CSS compilers like Sass or Less we can arrange the code in different files and
                            folders.
                        </h2>
                        <hr class="border__blue">
                        <h3 class="third__title text-right">Although it won't help us if we can't create a
                            thoughtful structure for our code.</h3>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Design and Semantic: how to keep them together without
                            messing
                            each-other</h2>
                        <hr class="border__blue">
                        <h3 class="third__title">In my experience these approaches lead us into issues:</h3>
                        <ul>
                            <li>
                                <b>Bind styles to tag selectors (chained or not)</b>
                                <br>
                                <code>body section article h2 {...}</code>
                            </li>
                            <li>
                                <b>Using tags because how they look instead of what they mean</b>
                                <br>
                                <code>&lt;h1&gt;Main Article title&lt;/h1&gt;</code> instead of
                                <code>&lt;h2 class="main__title"&gt;Main Article title&lt;/h2&gt;</code>
                            </li>
                            <li>
                                <b>Apply the same styles to different selectors over and over</b>
                                <br>
                                <code>nav li a {cursor: pointer;}</code> and some lines after <code>aside li a
                                {cursor: pointer;}</code>
                            </li>
                        </ul>

                    </div>
                </div>
            </article>
            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Design and Semantic: how to keep them together without messing
                            each-other</h2>
                        <hr class="border__blue">
                        <h3 class="third__title">How to feel you don't have to choose in between Design and
                            Semantic, without writing yourself over and over:</h3>
                        <ul>
                            <li>Choose the markup for its meaning and not for how it looks by default</li>
                            <li>Create CSS components (if possible helped by some compiler) to standarize the
                                team's code</li>
                            <li>Make those components with: variables, classes, mixins and some other ways to
                                modularize code that might help you based on your experiences</li>
                            <li>Have fun creating them, is the best way to get more and more creative</li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <h3 class="third__title">
                            As in programming languages, CSS compilers can use variables to enhance the code
                            before rendering.
                        </h3>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <h3 class="third__title">
                            Project's colours
                        </h3>
                        <p>Despite how many of them or which, every project has colours.</p>
                        <p>Every brand also has very well defined a specific value for each color.</p>
                        <p>Caching those values helps the dev team to not think over and over about them (cleaner
                            way of working).</p>
                        <p>Also we could use a map to store them all into a single variable.</p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <h3 class="third__title">
                            Default font size
                        </h3>
                        <p>Standarize components, is not caching colours only. We can cache lot of different
                            elements we use in the site-wide.</p>
                        <p>The project's font size is one of those value we have to make sure persist properly.</p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <h3 class="third__title">
                            Img routing
                        </h3>
                        <p>One of those things give me headaches is to think where images are placed within the
                            source code.</p>
                        <p>To caching the route not only helps to focus on what is important, also give us the power
                        to change the route if is required in the future. A good example is migrating the images
                            into a CDN outside the build and probably into a different domain.</p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <a href="http://codepen.io/Kunai-01/pen/LpWWRx?editors=110" target="_blank">
                            <h3 class="third__title">
                                Bring them all together:
                            </h3>
                        </a>
                        <ul>
                            <li>Mapping the project's colours</li>
                            <li>Default font size</li>
                            <li>Image folder routing</li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Helpers for generic tasks</h2>
                        <hr>
                        <a href="http://codepen.io/Kunai-01/pen/GpWWLw?editors=010" target="_blank">
                            <h3 class="third__title">Classes</h3>
                        </a>
                        <ul>
                            <li><code>.transition</code></li>
                            <li><code>.clickable</code></li>
                            <li>
                                Headings: <code>.main__title</code>,
                                <code>.secondary__title</code>,
                                <code>.third__title</code>
                            </li>
                            <li>
                                Retina display:
                                <code>.retina--visible</code> and
                                <code>.retina--hidden</code>
                            </li>
                        </ul>

                    </div>
                </div>
            </article>
            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Helpers for generic tasks</h2>
                        <hr>
                        <h3 class="third__title">Mixins</h3>
                        <ul>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/RWpVRv?editors=110" target="_blank">
                                    HIDPI
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/wKJdzv?editors=110" target="_blank">
                                    antialiasing
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/bVqWeG?editors=110" target="_blank">
                                    pixel-rem
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/OypmXK?editors=110" target="_blank">
                                    text-ellipsis
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Massive refactor using <b>@each</b></h2>
                        <hr>
                        <h3 class="third__title">Two robust examples</h3>
                        <ul>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/rOymZJ?editors=110" target="_blank">
                                    Ton of color selectors
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/zvZwMa?editors=110" target="_blank">
                                    Reformatting bootstrap's grid
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">
                            The imposible becomes possible: vertical alignment for static elements
                            <small>bonus track</small>
                        </h2>
                        <hr>
                        <h3 class="third__title">
                            Since eons the humanity tried to overcome one of the most known issues in CSS, the
                            vertical alignment.
                        </h3>
                        <p>There are many practices we are going to check together:</p>
                        <ul>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/dYWbEr?editors=110" target="_blank">
                                    Line-height technique
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/XmRWJY?editors=110" target="_blank">
                                    Positioning elements - Ye olde school
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/qOmBRw?editors=110" target="_blank">
                                    Positioning elements - Le new school
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">
                            So, is that all?
                        </h2>
                    </div>
                </div>
            </article>
            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">
                            The imposible becomes possible: vertical alignment for static elements
                            <small>bonus track</small>
                        </h2>
                        <hr>
                        <h3 class="third__title">
                            No. There is another technique I consider is the most profitable among the others:
                        </h3>
                        <p>
                            <a href="http://codepen.io/Kunai-01/pen/WQjNzX?editors=110" target="_blank">
                                Vertical alignment with table display
                            </a>
                        </p>
                    </div>
                </div>
            </article>



            <!-- Good Practices -->
            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Good Practices</h2>
                    </div>
                </div>
            </article>

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Images as &lt;img&gt; only when is required</h2>
                        <hr>
                        <h3 class="third__title">The proper way to set assets, pictures and pictures with captions</h3>
                        <p>
                            <a href="http://codepen.io/Kunai-01/pen/zvwYVV?editors=110" target="_blank">
                                Image samples
                            </a>
                        </p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Pseudo elements :before and :after</h2>
                        <hr>
                        <h3 class="third__title">Some things you can do by including them</h3>
                        <ul>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/pjPvOM?editors=100" target="_blank">
                                    Basic content inclusion
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/OymPvw?editors=110" target="_blank">
                                    Ordered list
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/avWzBv?editors=110" target="_blank">
                                    Animated logo
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">


                    </div>
                </div>
            </article>
        </div>
    </div>

</section>