<section class="page--home">

    <div swiper-slider class="full-size-slider swiper-container" parameters="{
                'direction': 'vertical',
                'keyboardControl': true
            }">
        <div class="swiper-wrapper">

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="main__title">CSS Components and Good Practices</h2>
                        <hr>
                        <p class="third__title">When coding becomes assembling</p>
                        <div class="avatar" title="DD"></div>
                    </div>
                </div>
            </article>

            <!--    |||
                    ||| Glossary
                    ||| -->

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="main__title text-center">Glossary</h2>
                        <hr>
                        <dl class="notes">
                            <dt class="third__title">CSS Components</dt>
                            <dd class="note">
                                <b>Introduction:</b> Design and Semantics: how to keep them together without messing each-other
                            </dd>
                            <dd class="note">
                                Sass variables
                            </dd>
                            <dd class="note">
                                DRY Helpers
                            </dd>
                            <dd class="note">
                                Massive coding with <code>@each</code> and <code>@for</code>
                                <ul>
                                    <li>Ton of color selectors</li>
                                    <li>Reformatting bootstrap's grid</li>
                                </ul>
                            </dd>
                            <dd class="note">
                                <b>Bonus track:</b> The impossible becomes possible: vertical alignment for static elements
                            </dd>
                        </dl>
                        <dl class="notes">
                            <dt class="third__title">Good Practices</dt>
                            <dd class="note">
                                Images as <code>&lt;img&gt;</code> or background?
                            </dd>
                            <dd class="note">
                                Pseudo elements <code>:before</code> and <code>:after</code>
                            </dd>
                        </dl>
                    </div>
                </div>
            </article>

            <!--    |||
                    ||| CSS Components
                    ||| -->

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">CSS Components</h2>
                    </div>
                </div>
            </article>

            <!-- Introduction -->

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="third__title text-center text__darkgray">
                            Have you ever started a project saying
                            <strong class="main__title text__black">
                                "Not this time... this time the CSS will be very well structured"
                            </strong>
                            and a week after it became a
                            <strong class="main__title text__black">big mess?</strong>
                            ...
                        </h2>
                        <hr class="border__blue">
                        <h3 class="third__title text-right">... it has happened to me plenty of times</h3>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">
                            Thanks to CSS compilers like Sass or Less, we can arrange the code in different files and
                            folders.
                        </h2>
                        <hr class="border__blue">
                        <h3 class="third__title text-right">Although, it won't help us if we can't create a
                            thoughtful structure for our code.</h3>
                    </div>
                </div>
            </article>

            <!-- Design and Semantic -->

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Design and Semantics: how to keep them together without
                            messing
                            each-other</h2>

                        <hr class="border__blue">
                        <h3 class="third__title">In my experience these approaches lead us into issues:</h3>
                        <ul>
                            <li>
                                <b>Bind styles to tag selectors (chained or not)</b>
                                <br>
                                <code>body section article h2 {...}</code>
                            </li>
                            <li>
                                <b>Using tags because how they look instead of what they mean</b>
                                <br>
                                <code>&lt;h1&gt;Main Article title&lt;/h1&gt;</code> because is bigger than
                                <code>&lt;h2&gt;</code>
                            </li>
                            <li>
                                <b>Apply the same styles to different selectors over and over</b>
                                <br>
                                <code>.navbar li {cursor: pointer;}</code> and after some lines <code>.sidebar li
                                {cursor: pointer;}</code>
                            </li>
                        </ul>

                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Design and Semantics: how to keep them together without messing
                            each-other</h2>
                        <hr class="border__blue">
                        <h3 class="third__title">How to feel you don't have to choose in between Design and
                            Semantics, without writing yourself over and over:</h3>
                        <ul>
                            <li>Choose the markup for its meaning and not for how it looks by default</li>
                            <li>Create CSS components (if possible helped by some compiler) to standarize the team's code</li>
                            <li>Make those components with: variables, classes, mixins and some other ways to modularize code
                                that might help you based on your experiences</li>
                            <li>Have fun creating them, is the best way to get more and more creative</li>
                        </ul>
                    </div>
                </div>
            </article>

            <!-- Sass Variables -->

            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <h3 class="third__title">
                            As in programming languages, CSS compilers can use variables to enhance the code
                            before rendering.
                        </h3>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <h3 class="third__title">
                            Project's colors
                        </h3>
                        <p>Despite how many of them or which, every project has colors.</p>
                        <p>Every brand also has very well defined a specific value for each color.</p>
                        <p>Caching those values helps the dev team to not think over and over about them (cleaner way of working).</p>
                        <p>Also we could use a map to store them all into a single variable.</p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <h3 class="third__title">
                            Default font size
                        </h3>
                        <p>Standarize components, is not caching colors only. We can cache lot of different elements we use
                            site-wide.
                        </p>

                        <p>The project's font size is one of those properties we have to make sure persist properly.</p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <h3 class="third__title">
                            Img routing
                        </h3>
                        <p>One of those things give me headaches is to think where images are placed within the source code.</p>
                        <p>To cache the route not only helps to focus on what is important, but also give us the power to change
                            the route, if required in the future. A good example is migrating the images into a CDN outside
                            the build and probably into a different domain.</p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightgreen">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Sass variables</h2>
                        <hr class="border__green">
                        <a href="http://codepen.io/Kunai-01/pen/LpWWRx?editors=110" target="_blank">
                            <h3 class="third__title">
                                Bring them all together:
                            </h3>
                        </a>
                        <ul>
                            <li>Project's colors</li>
                            <li>Default font size</li>
                            <li>Image folder routing</li>
                        </ul>
                    </div>
                </div>
            </article>

            <!-- DRY Helpers -->

            <article class="swiper-slide bg__lightyellow">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">DRY Helpers</h2>
                        <hr class="border__yellow">
                        <h3 class="third__title">For helper I mean a block of code which can be
                            used multiple times (passing or not arguments). Some pros:</h3>
                        <ul>
                            <li>Keep all sort of modules in specific files and folders so the whole team can access without redo
                                what was already done</li>
                            <li>Creative tools can be used many times to enhance general and specific User Experience</li>
                            <li>It's easier to adapt/modify some UX modularized than reformat a lot of different selectors
                            </li>
                        </ul>

                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightyellow">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">DRY Helpers</h2>
                        <hr class="border__yellow">
                        <a href="http://codepen.io/Kunai-01/pen/GpWWLw?editors=010" target="_blank">
                            <h3 class="third__title">Classes Helpers</h3>
                        </a>
                        <ul>

                            <li><code>.transition</code>: Add cool transitions to shifts. This simple CSS3 helper will add category
                                to any link, button or whatever you want while change their states.</li>
                            <li><code>.clickable</code>: Cursor pointer and avoid user selection. Very useful to make elements
                                look like real links and buttons (good practice on web apps components)</li>

                            <li>
                                Headings: <code>.main__title</code>,
                                <code>.secondary__title</code>,
                                <code>.third__title</code>: Stop choosing headings by the way they look instead of what they
                                mean. Pick your tags by their meaning and design apart.

                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/OypmXK?editors=110" target="_blank">
                                    <code>.text-ellipsis</code>
                                </a>: Now a days most of projects are fluid/responsive and some elements just don't fit in
                                the viewport. One of the best solutions in block headings is cropping without linebreaks

                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/wKJdzv?editors=110" target="_blank">
                                    <code>.antialiasing</code>
                                </a>: With different devices (displays), browsers and fonts, the antialiasing technique becomes
                                a must at the moment to preserve the project's look and feel. This class nest browser-specific
                                techniques with a <code>text-shadow</code> hack for fallback
                            </li>
                            <li>
                                Retina display:
                                <code>.retina--visible</code> and
                                <code>.retina--hidden</code>: Display elements relying on DPI displays (to be included on
                                HIDPI Mixin)
                            </li>
                        </ul>

                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightyellow">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">DRY Helpers</h2>
                        <hr class="border__yellow">
                        <h3 class="third__title">What is a mixin?</h3>
                        <p>Mixins are directives that allow us to create blocks of code (with arguments or not) or wrapping
                            our code within.</p>
                        <p>One of the great advantages is we can also set default values for the arguments.</p>
                        <p>Another advantage is we can create a file for each mixin and troubleshoot easily (thanks Sass).
                        </p>
                        <p>Let's create two different Mixins next.</p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightyellow">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">DRY Helpers</h2>
                        <hr class="border__yellow">
                        <h3 class="third__title">HIDPI - Mixins Helpers</h3>
                        <p><b>Target styles depending on device pixel density:</b> with plain CSS we should code a very big
                            mediaquery that points to many different browser engines.</p>
                        <p>With mixins we can do it once and only include it whenever we want to.</p>
                        <p>
                            <a href="http://codepen.io/Kunai-01/pen/RWpVRv?editors=110" target="_blank">
                                HIDPI
                            </a>: This Mixin wraps our code within different madia queries that
                            test the device's pixel density (for different browsers). Also you can specify different densities
                            to target very specific devices.
                        </p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightyellow">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">DRY Helpers</h2>
                        <hr class="border__yellow">
                        <h3 class="third__title">Pixel-rem - Mixins Helpers</h3>
                        <p><b>Migrating from px into rem units:</b></p>
                        <p>When we speak about pixels (unit) we should know is not equal to a physical pixel in the display.
                            It's just a unit and will vary depending the font in use.</p>
                        <p>That said, some devices can interpret "px" units different (for example Android).</p>
                        <p>To overcome this issue we should use relative measures.</p>
                        <p>"em" is one unit very used on margins and paddings but for <code>font-size</code> is not that good
                            since its size depends on its immediate parent.</p>
                        <p>For font practices the best unit is "rem" with is the same but relative to the root.</p>
                        <p>We can handle <code>1rem</code> as <code>10px</code> if we bind font-size: 62.5%</code> into the
                            "body" (which is the page's root).</p>
                        <p>
                            <a href="http://codepen.io/Kunai-01/pen/bVqWeG?editors=110" target="_blank">
                                <code>pixel-rem</code>
                            </a> mixin helps us to handle the "rem" units and also provide a "px" fallback for older browsers.
                        </p>
                    </div>
                </div>
            </article>

            <!-- Massive coding with @each-->

            <article class="swiper-slide bg__lightred">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Massive coding with @each and @for</h2>
                        <hr class="border__red">
                        <h3 class="third__title">@each:</h3>
                        <p>Just like in different program languages, Sass give us tools to iterate arrays and objects to get
                            values, allowing us to create a wide range of helpers with a few lines of code.</p>
                        <p>As I've created manually classes for button-like elements or adding transitions, using
                            <code>@each</code> and the previous color mapping I've also created a huge list of color helpers
                            minding texts, backgrounds and borders.</p>
                        <p>
                            <a href="http://codepen.io/Kunai-01/pen/rOymZJ?editors=110" target="_blank">
                                Ton of color helpers
                            </a>
                        </p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide bg__lightred">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Massive coding with @each and @for</h2>
                        <hr class="border__red">
                        <h3 class="third__title">@for</h3>
                        <p>We've seen <code>@each</code> iterates countless items.</p>
                        <p>But if we want to create a limited loop and also access to the index, <code>@for</code> might be
                            a better choice.
                        </p>
                        <p>For the next example I've decided to reformat completely the Bootstrap's 3 grid in ten (10) lines
                            of code only.</p>
                        <p>Thanks to the new code, all columns in our project will keep the same height as happen with table
                            cells.
                        </p>
                        <p>
                            <a href="http://codepen.io/Kunai-01/pen/zvZwMa?editors=110" target="_blank">
                                Reformatting bootstrap's grid
                            </a>
                        </p>

                    </div>
                </div>
            </article>

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">
                            The impossible becomes possible: vertical alignment for static elements
                            <small>bonus track</small>
                        </h2>
                        <hr>
                        <h3 class="third__title">
                            Since eons the humanity has tried to overcome one of the most known issues in CSS, the
                            vertical alignment.
                        </h3>
                        <p>There are many practices we are going to check together:</p>
                        <ul>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/dYWbEr?editors=110" target="_blank">
                                    Line-height technique
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/XmRWJY?editors=110" target="_blank">
                                    Positioning elements - Ye olde school
                                </a>
                            </li>
                            <li>
                                <a href="http://codepen.io/Kunai-01/pen/qOmBRw?editors=110" target="_blank">
                                    Positioning elements - Le new school
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">
                            So, is that all?
                        </h2>
                    </div>
                </div>
            </article>

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">
                            The impossible becomes possible: vertical alignment for static elements
                            <small>bonus track</small>
                        </h2>
                        <hr>
                        <h3 class="third__title">
                            No. There is another technique I consider is the most profitable among the others:
                        </h3>
                        <p>
                            <a href="http://codepen.io/Kunai-01/pen/WQjNzX?editors=110" target="_blank">
                                Vertical alignment with table display
                            </a>
                        </p>
                    </div>
                </div>
            </article>

            <!--    |||
                    ||| Good Practices
                    ||| -->

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Good Practices</h2>
                    </div>
                </div>
            </article>

            <!-- Images as <img> or background -->

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Images as &lt;img&gt; or background?</h2>
                        <hr class="border__blue">
                        <h3 class="third__title">Let's figure when images should be actual image tags and
                        when backgrounds.</h3>
                        <p>First let's talk about design concepts: figure and background.</p>
                        <p>A figure is an image which is like a character in a play. Is content.</p>
                        <p>In the other hand, background is the scenario, decorates and ambient to strong the message. Is a
                            secondary resource but just a little less important than characters.</p>
                        <p>Now that we understand this, we should recognize in design what images are intended to be actual
                            pictures and those that are just decorative assets.</p>
                        <p>Pictures (characters) are actual image tags <code>&lt;img&gt;</code>.</p>
                        <p>Backgrounds and assets (scenario) are... <code>background: ;</code> (so no specific tag is required
                            further from the proper semantic).</p>
                        <p>
                            I've made some
                            <a href="http://codepen.io/Kunai-01/pen/zvwYVV?editors=110" target="_blank">
                                Image samples
                            </a> to share with you guys!
                        </p>
                    </div>
                </div>
            </article>

            <!-- Pseudo elements :before and :after -->

            <article class="swiper-slide bg__lightblue">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="secondary__title text-center">Pseudo elements :before and :after</h2>
                        <hr class="border__blue">
                        <h3 class="third__title">Do you know that content can be included with CSS?</h3>
                        <p>Well, yes. Content can be included in CSS and it could also be static or dynamic.</p>
                        <p>While static code is implemented within the CSS (hardcoded), dynamic content is implemented into
                            some HTML attribute and raised from CSS.</p>
                        <p>We include content in CSS that should not be indexed by any Search Engine.</p>
                        <p>
                            Let's start with
                            <a href="http://codepen.io/Kunai-01/pen/pjPvOM?editors=100" target="_blank">
                                basic content inclusion
                            </a> (static and dynamic).
                        </p>

                        <p>Another tool is setting CSS counters for autoincrementing a value.</p>
                        <p>
                            This one is a good practice when designer created an
                            <a href="http://codepen.io/Kunai-01/pen/OymPvw?editors=110" target="_blank">ordered list</a>                            and numbers whould have different styles from the text (again, the number should not be indexed
                            as content by Search Engines).
                        </p>
                        <p>
                            Now let me add a little more of complexity: in design (overall in advertisement), someone's brand can be chopped in two different
                            messages:
                        </p>
                        <ul>
                            <li>Logotypes: the brand with a specific typography ("logo" comes from "letter")</li>
                            <li>Isotypes: are the actual picture, the symbol that helps everyone recognize the brand</li>
                        </ul>
                        <p>
                            That said, I want to introduce a different concept of content inclusion. This one was used on Fareness project anytime the
                            page was loading something. Let's animate
                            <a href="http://codepen.io/Kunai-01/pen/avWzBv?editors=110" target="_blank">
                                our isotype
                            </a>.
                        </p>
                    </div>
                </div>
            </article>

            <article class="swiper-slide">
                <div class="vertical-aligner opacitizer transition">
                    <div class="vertical-aligned">
                        <h2 class="main__title">Many thanks!</h2>
                        <hr>
                        <p class="third__title">Any further consult just let me know <i class="fa fa-smile-o"></i> </p>
                        <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;&#105;&#101;&#103;&#111;&#64;&#107;&#117;&#110;&#97;&#105;&#99;&#111;&#110;&#115;&#117;&#108;&#116;&#105;&#110;&#103;&#46;&#99;&#111;&#109;'
                        class="avatar" title="&#100;&#105;&#101;&#103;&#111;&#64;&#107;&#117;&#110;&#97;&#105;&#99;&#111;&#110;&#115;&#117;&#108;&#116;&#105;&#110;&#103;&#46;&#99;&#111;&#109;"></a>
                    </div>
                </div>
            </article>
        </div>
    </div>

</section>